@charset "UTF-8";

/* 共通部分 */
html{
	font-size: 100%	
}

body{
	/*font-size: small;*/
	font-size: 14px;
	color: #000000;
	font-family: sans-serif;
	word-break: break-all;
	margin: 0em;
	padding: 0em;
}

.menu-container{
	width: 600px;
	max-width: 100%;
}

.menu-list{
  margin-left: 0em;
  margin-top: 0em; 
  margin-right: 0em; 
  padding-right: 0em; 
  /*padding-right: 1em;*/
  padding-left: 0.1em;
}

ul {
	font-family: sans-serif;
	padding-top: 0em;
	/*padding-top: 0.01em;*/
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0em;
	/*margin-right: -1em;*/
	padding-left: 1.6em;
	padding-right: 0em;
	/*padding-right: 1.0em;*/
	list-style-position: outside;
	position: relative;
}

ul.menu-submenu{
  padding-right: 1em;
}

li{
	width: 100%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0em;
  padding-right: 0em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	position: relative;
	user-select:none;
}

li[style="list-style-type:none"],
p{
	/*margin-left: 0.2rem;*/
	margin-left: 0px;
}

li.accordion-toggle{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

a.menu {
	text-decoration: none;			/* 下線削除 */
	padding: 0px 4px 0px 4px;		/* 内側余白 */
	border-radius: 2px
}

hr{
  margin-top: 6px;
  margin-bottom: 6px;
}

.display-none{
  display:none;
}

.accordion-content {
    display: none;
}


/* <- accordion-toggle デザイン */
.accordion-toggle {
	cursor: pointer;
	background-color: aliceblue;
	border: 1px solid #8080ff;		/* 枠線 */
	border-radius: 2px;
	transition: all 0.3s ease;
	position: relative;
}

.accordion-toggle.active-tab {
	transition: all 0.3s ease;
}

.accordion-toggle:hover{
	background-color:lightcyan;
}

/* <- ＋/－ アイコン */
.accordion-toggle a:before, .accordion-toggle a:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 5px;
	width: 15px;
	height: 2px;
	margin-top: -1px;
	background-color: #5a5858;
	transform-origin: 50% 50%;
	transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
	transform: rotate(-90deg);
	opacity: 1;
	z-index: 2;
}

.accordion-toggle a:after {
	transform: rotate(0deg);
	background-color: #5a5858 !important;
	opacity: 1;
	z-index: 2;
}

.accordion-toggle a.active:before {
  transform: rotate(0deg);
}

.accordion-toggle a.active:after {
  transform: rotate(180deg);
  background: #fff !important;
  opacity: 0;
}
/* ＋/－ アイコン -> */
